PORT=4000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/beachbash?appName=beachbash
JWT_SECRET=change_me
ADMIN_SECRET=change_me
PAYSTACK_SECRET_KEY=sk_test_your_key_here
CLIENT_URL=https://your-frontend-domain.com
